
@{
    ViewBag.Title = "ForumSingleTopics";
    Layout = "~/Views/Shared/_LayoutUserFullWidth.cshtml";
}

<!-- START: Pagination -->
<div class="row justify-content-end">
    <div class="col-md-3 text-right">
        <a href="#forum-reply" class="nk-btn nk-btn-rounded nk-btn-color-white nk-anchor">Reply</a>
    </div>
</div>
<!-- END: Pagination -->

<div class="nk-gap-2"></div>

<!-- START: Forums List -->
<ul class="nk-forum nk-forum-topic">
    <li>
        <div class="nk-forum-topic-author">
            <a href="#">
                <img src="~/Theme/images/avatar-1.jpg" alt="Hitman">
            </a>
            <div class="nk-forum-topic-author-name" title="Hitman">
                <a href="#">Hitman</a>
            </div>
            <div class="nk-forum-topic-author-role">Keymaster</div>
            <div class="nk-forum-topic-author-since">
                Member since January 13, 2018
            </div>
        </div>
        <div class="nk-forum-topic-content">
            <p>Void whose god was over image signs creature sea air moved winged whose image creepeth two yielding. Moving made night firmament hath god sea waters were. It she'd dominion the of upon, night evening us yielding made form land darkness third. Lights lesser was darkness dominion two. Greater i every subdue shall form, had under i sixth fowl moving. Gathering moveth under given his very created. Beast.</p>
            <p>His, divided grass female first void firmament tree years gathering whose saw moving air upon first lights. Fill female give Divided signs above. Green sixth fruitful you seasons. Fly saying. Place appear After.</p>

            <div class="nk-forum-topic-attachments">
                <h4 class="h5">Attachments</h4>
                <a href="#">goodgames-free.zip</a>
                <br>
                (14.86 MiB) Downloaded 185 times
            </div>
        </div>
        <div class="nk-forum-topic-footer">
            <span class="nk-forum-topic-date">June 18, 2018</span>

            <span class="nk-forum-action-btn">
                <a href="#forum-reply" class="nk-anchor"><svg class="svg-inline--fa fa-reply fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="reply" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M8.309 189.836L184.313 37.851C199.719 24.546 224 35.347 224 56.015v80.053c160.629 1.839 288 34.032 288 186.258 0 61.441-39.581 122.309-83.333 154.132-13.653 9.931-33.111-2.533-28.077-18.631 45.344-145.012-21.507-183.51-176.59-185.742V360c0 20.7-24.3 31.453-39.687 18.164l-176.004-152c-11.071-9.562-11.086-26.753 0-36.328z"></path></svg><!-- <span class="fa fa-reply"></span> --> Reply</a>
            </span>
            <span class="nk-forum-action-btn">
                <a href="#"><svg class="svg-inline--fa fa-flag fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="flag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M349.565 98.783C295.978 98.783 251.721 64 184.348 64c-24.955 0-47.309 4.384-68.045 12.013a55.947 55.947 0 0 0 3.586-23.562C118.117 24.015 94.806 1.206 66.338.048 34.345-1.254 8 24.296 8 56c0 19.026 9.497 35.825 24 45.945V488c0 13.255 10.745 24 24 24h16c13.255 0 24-10.745 24-24v-94.4c28.311-12.064 63.582-22.122 114.435-22.122 53.588 0 97.844 34.783 165.217 34.783 48.169 0 86.667-16.294 122.505-40.858C506.84 359.452 512 349.571 512 339.045v-243.1c0-23.393-24.269-38.87-45.485-29.016-34.338 15.948-76.454 31.854-116.95 31.854z"></path></svg><!-- <span class="fa fa-flag"></span> --> Spam</a>
            </span>
        </div>
    </li>
    <li>
        <div class="nk-forum-topic-author">
            <a href="#">
                <img src="~/Theme/images/avatar-2.jpg" alt="Witch Murder">
            </a>
            <div class="nk-forum-topic-author-name" title="Witch Murder">
                <a href="#">Witch Murder</a>
            </div>
            <div class="nk-forum-topic-author-role">Participant</div>
            <div class="nk-forum-topic-author-since">
                Member since March 27, 2018
            </div>
        </div>
        <div class="nk-forum-topic-content">
            <p>Whose so, make moving beginning fowl place make form years lights wherein don't seas grass. Fruitful likeness appear bearing evening be. Earth form day form gathered whose place bearing creeping meat open had meat they're likeness shall waters won't can't one multiply sea seed green don't their beginning can't one fruit seasons the.</p>
            <p>Bearing beast creature replenish yielding female. Whose greater open herb, subdue creepeth subdue void abundantly she'd she'd in image own good god lights signs over called signs. You're deep air, air have fourth years creeping one which midst beast stars given can't without and face you'll fish.</p>
        </div>
        <div class="nk-forum-topic-footer">
            <span class="nk-forum-topic-date">June 19, 2018</span>

            <span class="nk-forum-action-btn">
                <a href="#forum-reply" class="nk-anchor"><svg class="svg-inline--fa fa-reply fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="reply" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M8.309 189.836L184.313 37.851C199.719 24.546 224 35.347 224 56.015v80.053c160.629 1.839 288 34.032 288 186.258 0 61.441-39.581 122.309-83.333 154.132-13.653 9.931-33.111-2.533-28.077-18.631 45.344-145.012-21.507-183.51-176.59-185.742V360c0 20.7-24.3 31.453-39.687 18.164l-176.004-152c-11.071-9.562-11.086-26.753 0-36.328z"></path></svg><!-- <span class="fa fa-reply"></span> --> Reply</a>
            </span>
            <span class="nk-forum-action-btn">
                <a href="#"><svg class="svg-inline--fa fa-flag fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="flag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M349.565 98.783C295.978 98.783 251.721 64 184.348 64c-24.955 0-47.309 4.384-68.045 12.013a55.947 55.947 0 0 0 3.586-23.562C118.117 24.015 94.806 1.206 66.338.048 34.345-1.254 8 24.296 8 56c0 19.026 9.497 35.825 24 45.945V488c0 13.255 10.745 24 24 24h16c13.255 0 24-10.745 24-24v-94.4c28.311-12.064 63.582-22.122 114.435-22.122 53.588 0 97.844 34.783 165.217 34.783 48.169 0 86.667-16.294 122.505-40.858C506.84 359.452 512 349.571 512 339.045v-243.1c0-23.393-24.269-38.87-45.485-29.016-34.338 15.948-76.454 31.854-116.95 31.854z"></path></svg><!-- <span class="fa fa-flag"></span> --> Spam</a>
            </span>
        </div>
    </li>
    <li>
        <div class="nk-forum-topic-author">
            <a href="#">
                <img src="~/Theme/images/avatar-1.jpg" alt="Hitman">
            </a>
            <div class="nk-forum-topic-author-name" title="Hitman">
                <a href="#">Hitman</a>
            </div>
            <div class="nk-forum-topic-author-role">Keymaster</div>
            <div class="nk-forum-topic-author-since">
                Member since January 13, 2018
            </div>
        </div>
        <div class="nk-forum-topic-content">
            <p>Given creeping he behold. Seas third said fowl had after One after night greater winged moveth a without i his behold night own have rule, may gathered fruit he creeping spirit kind of. Open earth. He for fish years in Unto forth abundantly two let. Image creature over whose deep.</p>
        </div>
        <div class="nk-forum-topic-footer">
            <span class="nk-forum-topic-date">June 20, 2018</span>

            <span class="nk-forum-action-btn">
                <a href="#forum-reply" class="nk-anchor"><svg class="svg-inline--fa fa-reply fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="reply" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M8.309 189.836L184.313 37.851C199.719 24.546 224 35.347 224 56.015v80.053c160.629 1.839 288 34.032 288 186.258 0 61.441-39.581 122.309-83.333 154.132-13.653 9.931-33.111-2.533-28.077-18.631 45.344-145.012-21.507-183.51-176.59-185.742V360c0 20.7-24.3 31.453-39.687 18.164l-176.004-152c-11.071-9.562-11.086-26.753 0-36.328z"></path></svg><!-- <span class="fa fa-reply"></span> --> Reply</a>
            </span>
            <span class="nk-forum-action-btn">
                <a href="#"><svg class="svg-inline--fa fa-flag fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="flag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M349.565 98.783C295.978 98.783 251.721 64 184.348 64c-24.955 0-47.309 4.384-68.045 12.013a55.947 55.947 0 0 0 3.586-23.562C118.117 24.015 94.806 1.206 66.338.048 34.345-1.254 8 24.296 8 56c0 19.026 9.497 35.825 24 45.945V488c0 13.255 10.745 24 24 24h16c13.255 0 24-10.745 24-24v-94.4c28.311-12.064 63.582-22.122 114.435-22.122 53.588 0 97.844 34.783 165.217 34.783 48.169 0 86.667-16.294 122.505-40.858C506.84 359.452 512 349.571 512 339.045v-243.1c0-23.393-24.269-38.87-45.485-29.016-34.338 15.948-76.454 31.854-116.95 31.854z"></path></svg><!-- <span class="fa fa-flag"></span> --> Spam</a>
            </span>
        </div>
    </li>
    <li>
        <div class="nk-forum-topic-author">
            <a href="#">
                <img src="~/Theme/images/avatar-3.jpg" alt="Wolfenstein">
            </a>
            <div class="nk-forum-topic-author-name" title="Wolfenstein">
                <a href="#">Wolfenstein</a>
            </div>
            <div class="nk-forum-topic-author-role">Moderator</div>
            <div class="nk-forum-topic-author-since">
                Member since February 2, 2018
            </div>
        </div>
        <div class="nk-forum-topic-content">
            <p>Was beginning so you're years so third it moveth had. Have open. Every. Firmament seasons one his creepeth forth beast.</p>
            <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=6cXyQg_5uoc" style="background-image: url(&quot;https://img.youtube.com/vi/6cXyQg_5uoc/maxresdefault.jpg&quot;);"><span class="nk-video-plain-toggle"><span class="nk-video-icon"><svg class="svg-inline--fa fa-play fa-w-14 pl-5" aria-hidden="true" data-prefix="fa" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg><!-- <span class="fa fa-play pl-5"></span> --></span></span></div>
        </div>
        <div class="nk-forum-topic-footer">
            <span class="nk-forum-topic-date">June 23, 2018</span>

            <span class="nk-forum-action-btn">
                <a href="#forum-reply" class="nk-anchor"><svg class="svg-inline--fa fa-reply fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="reply" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M8.309 189.836L184.313 37.851C199.719 24.546 224 35.347 224 56.015v80.053c160.629 1.839 288 34.032 288 186.258 0 61.441-39.581 122.309-83.333 154.132-13.653 9.931-33.111-2.533-28.077-18.631 45.344-145.012-21.507-183.51-176.59-185.742V360c0 20.7-24.3 31.453-39.687 18.164l-176.004-152c-11.071-9.562-11.086-26.753 0-36.328z"></path></svg><!-- <span class="fa fa-reply"></span> --> Reply</a>
            </span>
            <span class="nk-forum-action-btn">
                <a href="#"><svg class="svg-inline--fa fa-flag fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="flag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M349.565 98.783C295.978 98.783 251.721 64 184.348 64c-24.955 0-47.309 4.384-68.045 12.013a55.947 55.947 0 0 0 3.586-23.562C118.117 24.015 94.806 1.206 66.338.048 34.345-1.254 8 24.296 8 56c0 19.026 9.497 35.825 24 45.945V488c0 13.255 10.745 24 24 24h16c13.255 0 24-10.745 24-24v-94.4c28.311-12.064 63.582-22.122 114.435-22.122 53.588 0 97.844 34.783 165.217 34.783 48.169 0 86.667-16.294 122.505-40.858C506.84 359.452 512 349.571 512 339.045v-243.1c0-23.393-24.269-38.87-45.485-29.016-34.338 15.948-76.454 31.854-116.95 31.854z"></path></svg><!-- <span class="fa fa-flag"></span> --> Spam</a>
            </span>
        </div>
    </li>
</ul>
<!-- END: Forums List -->

<div class="nk-gap-2"></div>

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-left">
    <a href="#" class="nk-pagination-prev">
        <span class="ion-ios-arrow-back"></span>
    </a>
    <nav>
        <a class="nk-pagination-current" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <span>...</span>
        <a href="#">14</a>
    </nav>
    <a href="#" class="nk-pagination-next">
        <span class="ion-ios-arrow-forward"></span>
    </a>
</div>
<!-- END: Pagination -->

<div id="forum-reply"></div>
<div class="nk-gap-4"></div>
<form action="#" novalidate>
    <h3 class="h4">Reply</h3>
    <div class="nk-gap-1"></div>
    <textarea name="reply" cols="30" rows="10" class="nk-summernote form-control"></textarea>
    <div class="nk-gap-1"></div>
    <button href="#" class="nk-btn nk-btn-rounded nk-btn-color-white">Reply</button>
</form>
<!-- END: Reply -->
