@model IEnumerable<GameStore.Models.THELOAI>
<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Category</span> Menu</span></h4>
    <div class="nk-widget-content">
        <ul class="nk-widget-categories">
            @{ 
                foreach (var category in Model)
                {
                    <li><a href="@Url.Action("GameByCategory","Store",new { category = category.TenTheLoai})">@category.TenTheLoai</a></li>
                }
            }         
        </ul>
    </div>
</div>