
<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Price</span> Filter</span></h4>
    <div class="nk-widget-content">
        <div class="nk-input-slider">
            <input type="text"
                   name="price-filter"
                   data-slider-min="0"
                   data-slider-max="200"
                   data-slider-step="1"
                   data-slider-value="[0, 10]"
                   data-slider-tooltip="hide">
            <div class="nk-gap"></div>
            <div>
                <div class="text-white mt-4 float-left">
                    PRICE:
                    <strong class="text-main-1">€ <span class="nk-input-slider-value-0"></span></strong>
                    -
                    <strong class="text-main-1">€ <span class="nk-input-slider-value-1"></span></strong>
                </div>
                <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white float-right">Apply</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>