@model GameStore.Models.KHACHHANG

@{
    ViewBag.Title = "AddBalance";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}
<style>
    body {
        margin-top: 20px;
        color: #69707a;
    }

    label {
        color: #000;
    }

    .form-control:focus {
        color: #000 !important;
        background-color: #FFF !important;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #ffffff;
        border-bottom-color: #ffffff;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>


<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->

    <hr class="mt-0 mb-4">
    <div class="row">

        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4" id="accountDetailsCard">
                <div class="card-header" style="text-align: center; color: #dd163b"><h2 style=" color: #dd163b">Add Balance</h2></div>
                <div class="card-body">
                    <!-- Form Group (username)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Gift Code</label>
                        <input class="form-control" name="inputCode" id="inputCode" type="text" placeholder="Enter your Code">
                    </div>

                    <div class="nk-gap-1"></div>
                    <!-- Save changes button-->
                    <button class="btn btn-primary" type="button" id="SubmitAddBalance" name="SubmitAddBalance" style="text-align: center; background-color: #dd163b">Save changes</button>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $("#SubmitAddBalance").click(function () {
        var code = $("#inputCode").val();     
        $.ajax({
            url: "/Account/AddBalance",
            type: "POST",
            data: { Code:code },
            success: function (response) {
                if (response.success == true) {
                    var newBalance = response.data;

                    // Cập nhật nội dung văn bản trong thẻ <span> có ID là "BalanceCurrent"
                    $("#BalanceCurrent").text("(" + newBalance + ".00$)");
                    $("#inputCode").val("");
                    toastr.success(response.message);
                } else {
                    toastr.error(response.message);
                }              
            },
            error: function () {
                toastr.error("An error occurred. Please try again.");
            }
        });
  
    });


</script>
