
<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Latest</span> Video</span></h4>
    <div class="nk-widget-content">
        <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=mj8sHjsNL7k"></div>
    </div>
</div>
