<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Top 3</span> Recent</span></h4>
    <div class="nk-widget-content">

        <div class="nk-widget-post">
            <a href="blog-article.html" class="nk-post-image">
                <img src="~/Theme/images/post-1-sm.jpg" alt="">
            </a>
            <h3 class="nk-post-title"><a href="blog-article.html">Smell magic in the air. Or maybe barbecue</a></h3>
            <div class="nk-post-date"><span class="fa fa-calendar"></span> Sep 18, 2018</div>
        </div>

        <div class="nk-widget-post">
            <a href="blog-article.html" class="nk-post-image">
                <img src="~/Theme/images/post-2-sm.jpg" alt="">
            </a>
            <h3 class="nk-post-title"><a href="blog-article.html">Grab your sword and fight the Horde</a></h3>
            <div class="nk-post-date"><span class="fa fa-calendar"></span> Sep 5, 2018</div>
        </div>

        <div class="nk-widget-post">
            <a href="blog-article.html" class="nk-post-image">
                <img src="~/Theme/images/post-3-sm.jpg" alt="">
            </a>
            <h3 class="nk-post-title"><a href="blog-article.html">We found a witch! May we burn her?</a></h3>
            <div class="nk-post-date"><span class="fa fa-calendar"></span> Aug 27, 2018</div>
        </div>

    </div>
</div>
