<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Most</span> Popular</span></h4>
    <div class="nk-widget-content">

        <div class="nk-widget-post">
            <a href="store-product.html" class="nk-post-image">
                <img src="~/Theme/images/product-1-xs.jpg" alt="So saying he unbuckled">
            </a>
            <h3 class="nk-post-title"><a href="store-product.html">So saying he unbuckled</a></h3>
            <div class="nk-product-rating" data-rating="4"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i></div>
            <div class="nk-product-price">€ 23.00</div>
        </div>

        <div class="nk-widget-post">
            <a href="store-product.html" class="nk-post-image">
                <img src="~/Theme/images/product-2-xs.jpg" alt="However, I have reason">
            </a>
            <h3 class="nk-post-title"><a href="store-product.html">However, I have reason</a></h3>
            <div class="nk-product-rating" data-rating="2.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
            <div class="nk-product-price">€ 32.00</div>
        </div>

        <div class="nk-widget-post">
            <a href="store-product.html" class="nk-post-image">
                <img src="~/Theme/images/product-3-xs.jpg" alt="It was some time before">
            </a>
            <h3 class="nk-post-title"><a href="store-product.html">It was some time before</a></h3>
            <div class="nk-product-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <div class="nk-product-price">€ 14.00</div>
        </div>

    </div>
</div>
