@model IEnumerable<GameStore.Models.KEYGAME>
@{
    ViewBag.Title = "StoreCheckout";
    Layout = "~/Views/Shared/_LayoutUserFullWidth.cshtml";
}



<div class="nk-store nk-store-checkout">
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">History</span> Details</span></h3>

   
    <div class="table-responsive">
        <table class="nk-table nk-table-sm">
            <thead class="thead-default">
                <tr>
                    <th class="nk-product-cart-title">Name Game</th>
                    <th class="nk-product-cart-total">Key Game</th>
                    <th class="nk-product-cart-total">Date Modified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="nk-product-cart-title">
                            @item.NameGame
                        </td>
                        <td class="nk-product-cart-total">
                            @item.KeyGames
                        </td>
                        <td class="nk-product-cart-total">
                            @if (item.DateModified is DateTime dateModified)
                            {
                                @dateModified.ToString("dd/MM/yyyy")
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- END: Order Products -->

    <div class="nk-gap-2"></div>
    
</div>

